<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-image:url(https://media.istockphoto.com/vectors/cute-gray-cat-waving-paw-cartoon-vector-illustration-vector-id1317495176?k=20&m=1317495176&s=612x612&w=0&h=TwAzMWgQ981YWHHVszcv62yHgBDlSnBU3aauLOE07-s=);


     background-size: 1100px auto;
       background-repeat: no-repeat;


 font-family: 'Comic Sans MS', arial, cursive;">
<h1><span th:utext="${message}" style=" margin-top: 250px;"></span></h1>
<a th:href="@{/logout}" class="btn-lg btn-warning" style="position: absolute; top: 5px; right: 5px;"> LOG OUT</a>
<div align="right" class="container" style="margin-top: 50px; margin-left: 30px; margin-right: 15px">
    <form th:action="@{/notes/create}" method="POST">
        <a th:href="@{/logout}" style="position: fixed; top: 5px;right: 5px;">

            <button class="btn btn-lg btn-warning" type="submit">LOG OUT</button>

        </a>
        <div class="card-body">
            <input type="text" class="form-control form-control-sm" name="name" placeholder="Enter notes name"
                   th:required="require" th:autofocus="true" style="width: 700px; height: 30px;  padding: 5px; border: solid 1px black; border-collapse: collapse"
                   minlength="5" maxlength="100">

            <br>
            <label>
                <textarea type="text" class="form-control form-control-sm" name="content"
                          placeholder="Enter note text"
                          style="overflow:scroll; width: 700px; height: 200px;  padding: 5px; border: solid 1px black;
            text-align: justify-all; word-wrap: break-word; " maxlength="10000"> </textarea>
            </label>
        </div>

        <div class="form-check">
            <label> <input type="radio" name="accessType" value="ACCESS_PRIVATE" checked="true"> </label> Private
        </div>
        <div class="form-check">
            <label> <input type="radio" name="accessType" value="ACCESS_PUBLIC"> </label> Public
        </div>

        <button class="btn btn-primary" type="submit" style="position: center;background-color:#5EEB82 ;border-color: #07302c;">Create</button>
        <br>
        <br>
        <a th:href="@{/notes/list}"style="position: center;background-color:#F5B0E7;border-color: #07302c;"  class="btn btn-danger">Cancel</a>
    </form>
</div>
</body>
</html>