<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title th:utext="${title}"></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body style="padding-left: 15px;padding-right: 20px; margin-top: 50px; background-image:url(https://media.istockphoto.com/vectors/cute-gray-cat-waving-paw-cartoon-vector-illustration-vector-id1317495176?k=20&m=1317495176&s=612x612&w=0&h=TwAzMWgQ981YWHHVszcv62yHgBDlSnBU3aauLOE07-s=);
background-size: 1000px auto;

 background-position:  70% 1%;
background-repeat: no-repeat;
font-family: 'Comic Sans MS', arial, serif;">

<div class="container">
  <form th:action="@{/users/edit/{id}" th:object="${user}" th:method="PUT">
    <h3 style="text-align: center; margin-top: 50px"><span th:utext="${message}"></span></h3>


    <div class="card-body" style="text-align: center">
      <input type="text" class="form-control form-control-sm" name="username"  th:field="*{username}"
             th:required="require" th:autofocus="true" minlength="5" maxlength="50"
             style=" max-width: 300px; padding: 10px; margin-top: 40%; margin: 0 auto;">
    </div>
    <div class="card-body" style="text-align: center">
      <input type="text" class="form-control form-control-sm" name="email"  th:field="*{email}"
             th:required="require" th:autofocus="true" minlength="5" maxlength="50"
             style=" max-width: 300px; padding: 10px; margin: 0 auto;">
    </div>

    <div class="pt-3" style="text-align: center">
      <input class="form-control form-control-sm" type="password" name="password" th:field="*{password}"  th:autofocus="false"
             th:required="require"  style=" max-width: 300px; padding: 10px; margin: 0 auto " minlength="8" maxlength="100">

      <div class="form-check">
        <label> <input type="radio" name="userRole" value="ROLE_USER" th:field="*{userRole}"> </label> User
      </div>
      <div class="form-check">
        <label> <input type="radio" name="userRole" value="ROLE_ADMIN" th:field="*{userRole}"> </label> Admin
      </div>
      <input type="hidden" th:field="*{id}" />
      <br>
      <button class="btn btn-lg btn-primary" type="submit"style="margin-top: 15px;font-size:27px; background-color: #5CEC5C;border-color: #07302c;font-family: Comic Sans MS" >CHANGE</button>
    </div>
  </form>
</div>
</body>
</html>
